/* 
IMPORTANT : spécifier le nom de la page au début de CHAQUE CLASSE
pour éviter les ambigüitées ex: .vente-article-container {}
*/

/* Page Accueil */

/* Page Vente */

:root {

    /*////////////////////////////
    // Initialisation variables //
    ////////////////////////////*/

    /*colors*/
    --background: rgb(70, 70, 90);
    --background-second: rgb(50, 50, 50);
	--tile: rgb(68, 68, 68);
    --main: rgb(13, 20, 110);
    --secondary: rgb(87, 8, 130);
    --nav: linear-gradient(90deg, rgb(13, 20, 110) 0%, rgb(87, 8, 130) 100%);
    --accent: rgb(217, 145, 30);
    --white: white;
    --black: black;
}

.article-container {
	border-radius: 8px;
	border: 2px solid var(--tile);

	width: 400px;
	height: 400px;
}

.article-container>div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	margin-left: 20px;
	margin-right: 20px;
	align-content: center;
	text-align: center;
	font-size: 30px;
}

.article-image {
	margin: 0 auto;
	width: 90%;
	height: 65%;
}

.article-container>span {
	display: flex;
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 20px;
}


/* Page Panier */

.vente-cart-selected {
	border-bottom: solid 2px rgba(0, 0, 0, 0.5);
}

.vente-cart-summary {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 1.5vw;
    width: 100%;
    height: calc(100% - 40px);
}

.vente-cart-summary div {
	/* border: solid 1px gray; */
	padding: 10px;
}

.vente-cart-window {
	background-color: var(--tile);
	border-radius: 10px;
	padding: 10px 20px !important;
}

.vente-item-list {
	display: flex;
	flex-direction: column;
	width: 60%; /* la proportion div des articles / div du total */
}

.vente-item-list .vente-list-tile {
	display: flex;
	width: calc(100% - 20px);
}

.vente-cart-header {
	display: flex;
	border-bottom: solid 2px var(--white) !important;
	align-items: baseline;
}

.vente-cart-header h1 {
	margin: 0;
}

.vente-item-header {
	justify-content: space-between;
}

.vente-total-header {
	justify-content: center;
}

.vente-item-list img {
	display: block;
	height: 10vw;
	cursor: pointer;
}

.vente-total-list {
	display: flex;
	flex-direction: column;
	width: 40%; /* la proportion div du total / div des articles */
}


/* Page A Propos */