:root {

    /*////////////////////////////
    // Initialisation variables //
    ////////////////////////////*/

    /*colors*/
    --background: rgb(70, 70, 90);
    --background-second: rgb(50, 50, 50);
	--tile: rgb(68, 68, 68);
    --main: rgb(13, 20, 110);
    --secondary: rgb(87, 8, 130);
    --nav: linear-gradient(90deg, rgb(13, 20, 110) 0%, rgb(87, 8, 130) 100%);
    --accent: rgb(217, 145, 30);
	--border: rgb(140, 140, 140);
    --white: white;
    --black: black;

	/*//////////////////////////*/

}

body {
	accent-color: var(--accent);
}
/* 
IMPORTANT : spécifier le nom de la page au début de CHAQUE CLASSE
pour éviter les ambigüitées ex: .vente-article-container {}
*/

/* Page Accueil */

/* Page Vente */

/* .content {
	flex-direction: column;
} */

.vente-article-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 20px;
}

.vente-article-container {
	background-color: #888;
	border-radius: 8px;
	border: 3px solid #444;

	width: 400px;
	height: 400px;
}

.vente-article-container:hover {
	background-color: #444;
	transition: 0.3s;
}

.vente-article-container > * {
	color: white;
	margin-left: 5%;
	margin-right: 5%;
}

.vente-article-container > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5%;
	align-content: center;
	text-align: center;
	font-size: 200%;
}

.vente-article-image {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 65%;
}

.vente-article-container > p{
	margin-top: 5%;
}

.vente-article-container > span{
	display: flex;
	margin-top: 5%;
}

.vente-buy {
	display: flex;
	flex-direction: column;

	gap: 2%;
}

.vente-button {
	border-radius: 4px;
	border: 0px;
	padding: 2%;
	font-size: 100%;
}

.vente-panier {
	background-color: #44f;
	color: white;
}

.vente-panier:hover {
	background-color: #88f;
}

.vente-description {
	position: relative;
  	display: inline-block;
  	cursor: pointer;
	margin-left: auto;
}

.vente-popup {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

.vente-description .vente-show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.vente-sussy-section {
	margin-top: 50px;
	color: #323232;
}

#vente-slider {
    -webkit-appearance: none;     
    padding: 0;                   
    font: inherit;                
    outline: none;
    color: #323232;                  
    background: #323232;             
    box-sizing: border-box;  
    transition: opacity .2s;
    cursor: pointer;
}

#vente-slider::-moz-range-track {
    height: 50%;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

#vente-slider::-moz-range-thumb {
    width: 3em;
    height: 3em;                
    border: none;                   
    border-radius: 0;               
    background: currentColor;
}

#vente-slider::-moz-range-progress {
    height: 0;
    background: transparent;        
}


/*/// Page Panier ///*/
/* Par Noé Laurençot */


/* || Résumé du panier */

.cart-summary {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 1.5vw;
    width: 100%;
    height: fit-content;
	box-sizing: border-box;
}

/* debug pour voir les border des divs */
.cart-summary div {
	/* border: solid 1px var(--accent); */
}

.cart-header {
	display: flex;
	border-bottom: solid 2px var(--white) !important;
	align-items: baseline;
}

.cart-window {
	background-color: var(--tile);
	border-radius: 10px;
	padding: 15px;
	height: fit-content;
}

/* || Résumé articles */

.cart-item-header {
	justify-content: space-between;
}

.cart-item-list {
	display: flex;
	flex-direction: column;
	width: 60%; /* la proportion div des articles / div du total */
}

.cart-list-tile {
	display: flex;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

.cart-list-tile:not(:last-child) { /* Sélectionne toutes lse tiles sauf la dernière */
	border-bottom: dashed 2px var(--border);
}

.cart-item-list img {
	display: block;
	height: 11vw;
}

.cart-item-info {
	display: flex;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

/* || Sélecteur de quantité */

.cart-quantity-selector {
    display: flex;
    align-items: center;
	width: fit-content;
}

.cart-quantity-selector input[type="number"] {
	background: none;
	color: var(--white);
	border-radius: 5px;
	width: 30px;
	border: solid 1px var(--border);
	appearance: textfield;
	padding: 5px;
	text-align: center;
}

.cart-quantity-selector button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1em;
    color: var(--white);
    transition: 0.3s;
}

.cart-quantity-selector button:hover {
    color: var(--accent);
}

/* || Résumé total */

.cart-total-header {
	justify-content: center;
}

.cart-total-list {
	display: flex;
	flex-direction: column;
	width: 40%; /* la proportion div du total / div des articles */
}


/* Page A Propos */