:root {

    /*////////////////////////////
    // Initialisation variables //
    ////////////////////////////*/

    /*colors*/
    --background: rgb(70, 70, 90);
    --nav: linear-gradient(90deg,rgba(13, 20, 110, 1) 0%, rgba(87, 8, 130, 1) 100%);
    --main: rgb(217, 145, 30);
    --white: white;
    --black: black;
}

/* || Général */

html,
body {
    margin: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: var(--background);
}


/* || Utilities */

.logo img {
    display: block;
    height: 50px;
}

.selected {
    border-bottom: solid 4px var(--main);
}

/* désactive la sélection */
.no-select {
    user-select: none;
}

/* désactive la sélection symboles google */
a.material-symbols-outlined {
    user-select: none;
}

/* || Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-image: var(--nav);
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav span {
    display: flex;
    gap: 20px;
}

nav a:not(.logo) {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    transition: 0.3s;
}

nav a:hover {
    color: var(--main);
}

.most-left {
    margin-left: 20px;
}

.most-right {
    margin-right: 20px;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

/* || body */

.content {
    display: flex;
    width: calc(100vw - 40px);
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(48, 48, 48, 0.8);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}