:root {

    /*////////////////////////////
    // Initialisation variables //
    ////////////////////////////*/

    /*colors*/
    --background: rgb(70, 70, 90);
    --background-second: rgb(50, 50, 50);
    --main: rgb(13, 20, 110);
    --secondary: rgb(87, 8, 130);
    --nav: linear-gradient(90deg, rgb(13, 20, 110) 0%, rgb(87, 8, 130) 100%);
    --accent: rgb(217, 145, 30);
    --white: white;
    --black: black;
}

/* || Général */

html,
body {
    margin: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: var(--background);
    color: var(--white);
    accent-color: var(--accent);
}

/* Pour faire en sorte que le footer reste collé en bas de page */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* || Utilities */

.selected {
    border-bottom: solid 4px var(--accent);
    box-sizing: border-box;
}

.selected-cart {
    color: var(--accent) !important;
    border-bottom: solid 4px rgba(255, 255, 255, 0);
    border-top: solid 4px rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

/* désactive la sélection */
.no-select {
    user-select: none;
}

/* désactive la sélection symboles google */
a.material-symbols-outlined {
    user-select: none;
}

.no-margin {
    margin: 0;
}

.text-justify-right {
    text-align: right;
}

.justify-center {
    justify-content: center;
}

/* || Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 11px 0;
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
    z-index: 1000;
    background-image: var(--nav);
    margin: 20px;
    border-radius: 8px;
    width: calc(100vw - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: auto;
    box-sizing: border-box;
    transition: 0.3s;
}

/* Applique le style si .scrolled existe */
nav.scrolled {
    margin: 0;
    margin-bottom: 20px;
    border-radius: 0 0 8px 8px;
    width: 100vw;
}

.nav-logo img {
    display: block;
    height: 60px;
}

nav span {
    display: flex;
    gap: 10px;
}

nav a:not(.nav-logo) {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    padding: 15px 2vw;
    transition: 0.3s;
    white-space: nowrap; /* Pour que le texte de wrap pas */
}

nav a:hover {
    color: var(--accent);
}

.most-left {
    margin-left: 20px;
}

.most-right {
    margin-right: 20px;
}

.nav-icon {
    font-size: 30px;
    font-weight: normal !important;
}

/* || body */

.content {
    display: flex;
    width: calc(100vw - 40px); /* toute la viewwidth - la marge * 2 */
    height: fit-content;
    margin: 20px;
    margin-top: 130px;
    border-radius: 10px;
    background-color: var(--background-second);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.content img {
    border-radius: 8px;
}


/* || footer */

footer {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    background-image: var(--nav);
    padding: 20px 10vw;
    border-radius: 10px 10px 0 0;
}

.footer-logo img {
    height: 100px;
}