:root {

    /*////////////////////////////
    // Initialisation variables //
    ////////////////////////////*/

    /*colors*/
    --background: rgb(70, 70, 90);
    --background-second: rgb(50, 50, 50);
    --tile: rgb(68, 68, 68);
    --main: rgb(13, 20, 110);
    --secondary: rgb(87, 8, 130);
    --nav: linear-gradient(90deg, rgb(13, 20, 110) 0%, rgb(87, 8, 130) 100%);
    --accent: rgb(217, 145, 30);
    --button-hover: rgb(76, 10, 111);
    --border: rgb(140, 140, 140);
    --text-subtle: rgb(170, 170, 170);
    --delete: rgb(172, 49, 47);
    --white: white;
    --black: black;

    /*//////////////////////////*/
}

@media (max-width: 780px) {
    .nav-logo img {
        display: block;
        width: 100px;
        height: auto;
    }

    nav {
        font-size: 0.85rem;
    }

    nav .material-symbols-outlined {
        font-size: 1.5rem;
    }

    .content-container {
        margin-top: 124px;
    }
}

@media (max-width: 600px) {

    nav {
        font-family: "Host Grotesk", 'Arial Narrow Bold', sans-serif;
    }

    .content-container {
        width: calc(100vw - 20px);
        margin: 0 10px;
        margin-top: 90px;
    }

    .content {
        margin-bottom: 10px;
    }

    nav {
        gap: 0.5vw;
        margin: 10px;
        width: calc(100vw - 20px);
    }

    .nav-middle,
    .nav-right {
        display: none;
    }

    .nav-hamburger {
        display: flex;
        padding: 10px 5%;
    }

    .nav-hamburger-toggle {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 2rem;
        color: var(--white);
        transition: 0.3s;
        /* Pour eviter que ça sélectionne quand on appuie sur mobile */
        -webkit-tap-highlight-color: transparent;
        touch-action: manipulation;
        -webkit-touch-callout: none;
    }

    .nav-hamburger-toggle:hover {
        color: var(--accent);
    }

    /* Le menu hamburger */
    .nav-hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        box-sizing: border-box;
        background-color: var(--background-second);
        position: fixed;
        cursor: default;
        border-radius: 10px 0 0 10px;
        padding-top: 40px;
        z-index: 2000;
        width: 60vw;
        height: 100dvh;
        /* Hauteur dynamique pour les mobiles */
        height: 100vh;
        /* fallback */
        top: 0;
        right: -60%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .nav-hamburger-menu a {
        color: var(--white);
        text-decoration: none;
        transition: 0.3s;
        width: 100%;
        padding: 10px 0;
        font-size: clamp(0.5rem, calc(5vw + 1rem), 2.5rem);
        white-space: nowrap;
    }

    .nav-hamburger-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-family: "Host Grotesk", 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
    }

    .nav-hamburger-icons {
        display: flex;
        gap: 10vw;
        padding: 0 5vw;
        border-radius: 10px;
        background-color: var(--tile);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        align-items: center;
    }

    .nav-hamburger-blur {

        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        z-index: 1000;
        backdrop-filter: blur(2px);
        width: 100%;
        height: 100dvh;
        top: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease;
    }

    .nav-hamburger-close {
        position: fixed;
        z-index: 3000;
        cursor: pointer;
        visibility: hidden;
        right: -60%;
        top: 10px;
        transition: 0.5s ease;
        transition-delay: right 0.1s;
    }

    .nav-hamburger-close:hover {
        color: var(--accent);
    }

    .nav-hamburger-toggle:focus-within .nav-hamburger-menu {
        right: 0;
        visibility: visible;
        opacity: 1;
    }

    .nav-hamburger-toggle:focus-within + .nav-hamburger-blur {
        visibility: visible;
        opacity: 1;
    }

    .nav-hamburger-toggle:focus-within ~ .nav-hamburger-close {
        right: calc(60vw - 37px);
        visibility: visible;
    }
}

@media (max-width: 350px) {

    .nav-hamburger-menu {
        width: 70vw;
    }

    .nav-hamburger-toggle:focus-within ~ .nav-hamburger-close {
        right: calc(70vw - 37px);
        visibility: visible;
    }

    .content,
    footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 250px) {

    .nav-hamburger-menu {
        width: 80vw;
    }

    .nav-hamburger-toggle:focus-within ~ .nav-hamburger-close {
        right: calc(80vw - 37px);
        visibility: visible;
    }

    footer {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }
}