:root {

	/*////////////////////////////
    // Initialisation variables //
    ////////////////////////////*/

	/*colors*/
	--background: rgb(70, 70, 90);
	--background-second: rgb(50, 50, 50);
	--tile: rgb(68, 68, 68);
	--main: rgb(13, 20, 110);
	--secondary: rgb(87, 8, 130);
	--nav: linear-gradient(90deg, rgb(13, 20, 110) 0%, rgb(87, 8, 130) 100%);
	--accent: rgb(217, 145, 30);
	--button-hover: rgb(76, 10, 111);
	--border: rgb(140, 140, 140);
	--text-subtle: rgb(170, 170, 170);
	--delete: rgb(172, 49, 47);
	--white: white;
	--black: black;

	/*//////////////////////////*/

}

/* 
IMPORTANT : spécifier le nom de la page au début de CHAQUE CLASSE
pour éviter les ambigüitées ex: .vente-article-container {}
*/

/* Page Accueil */
@media (max-width: 1200px) {
    .index-alert-active {
        font-size: 0.8rem;
    }

    .index-alert-leaving {
        font-size: 0.8rem;
    }
}

@media (max-width: 800px) {
    .index-alert-active {
        font-size: 0.5rem;
    }

    .index-alert-leaving {
        font-size: 0.5rem;
    }
}
@media (max-width: 600px) {
    .index-article img {
        width: 40vw;
        height: auto;
    }

}
@media (max-width: 500px) {
    .index-alert-active {
        font-size: 0.3rem;
    }

    .index-alert-leaving {
        font-size: 0.3rem;
    }
}

/* Page Vente */

.vente-article-container {
	container-type: inline-size;
}

@container (max-width : 280px) {
	.vente-article-container > * {
		margin: 0px;
	}

	.vente-article-container > div {
		width: 100%;
		height: 100%;
		gap: 0px;
		font-size: 0px;
	}

	.vente-article-image {
		margin: 0px;
		width: 100%;
		height: 66%;
	}

	.vente-article-container:hover p {
		display: block;
	}

	.vente-article-container:hover span {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.vente-seven-row:hover p{
		display: none;
	}
	.vente-seven-row:hover span{
		display: none;
	}

	.vente-article-container > p {
		display: none;
	}

	.vente-article-container > span {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		margin: 0px;
		z-index: 1;
		display: none;
		
	}

	.vente-article-container > span > *{
		width: 100%;
		padding: 5%;		
	}
}

/* Page Panier */



@media (max-width: 1100px) {

	.cart-item-header span {
		text-align: left;
	}

	.cart-item-info,
	.cart-item-header,
	.cart-total-promo {
		flex-direction: column;
	}

	.cart-item-price {
		justify-content: flex-start;
		width: fit-content;
		margin-top: 10px;
		margin-left: 8px;
	}

	.cart-total-promo {
		align-items: flex-start;
	}
}

@media (max-width: 780px) {

	.cart-summary {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.cart-window {
		width: calc(100% - 30px);
	}

	.cart-item-delete {
		opacity: 1;
		bottom: 5px;
		right: 5px;
	}

	.cart-list-tile:not(.cart-header):hover {
		/* Sélectionne toutes les tiles sauf celle du titre */
		box-shadow: none;
		transform: none;
		border-radius: 0;
		;
	}

	.cart-list-tile:last-child:hover {
		border: none;
	}

	.cart-item-img {
		display: flex;
		justify-content: flex-start;
		width: fit-content;
	}

	.cart-list-tile img {
		padding: 0;
		width: 100%;
		height: auto;
	}

	.cart-item-price-detail {
		top: -50px;
		left: 0;
	}
}

@media (max-width: 600px) {

	.cart-summary {
		gap: 10px;
		padding: 10px;
	}

	.cart-list-tile {
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}

	.cart-list-tile img {
		width: 80%;
	}

	.cart-item-price > span {
		user-select: none;
	}

	.cart-similar-img-container {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;
		background-color: var(--tile);
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 20px;
		border-radius: 10px;
		width: calc(100% - 40px);
		box-sizing: border-box;
	}

	.cart-similar-img {
		display: flex;
		flex-wrap: nowrap;
		gap: 10px;
	}

	.cart-similar-img img {
		width: clamp(150px, 30vw, 500px);
		height: auto;
		flex-shrink: 0;
	}

	/* À implémenter */

	    .video-player {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        width: 90%;
        height: 90%;
        justify-content: center;
        align-items: center;
    }

    .video-player-content {
        position: relative;
        width: 100vw;
        padding: 1.5vw;
        background-color: var(--background);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .video-player-content video {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
    }

    .video-player-close {
        position: absolute;
        font-size: clamp(0.6rem, 6vw, 1.2rem);
        padding: clamp(5px, 2vw, 12px);
        top: -60px;
        right: calc(5vw + 37%);
        will-change: transform;
    }

    .video-player-close:hover {
        cursor: pointer;
    }
}


@media (max-width: 350px) {

	.cart-list-tile {
		padding: 10px 0;
	}

	.cart-item-delete {
		top: 1%;
		right: -2%;
	}

	.cart-item-price-detail {
		top: -40px;
		left: 0;
		translate: 0 -4px;
	}

	.cart-total-line {
		flex-direction: column;
	}

	.cart-total-link {
		display: none;
	}

	.cart-total-delivery {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	.cart-total-delivery-detail {
		right: -47px;
		top: -92px;
		translate: 0 -4px;
	}

	.cart-total-total {
		align-items: baseline;
	}
}

@media (max-width: 250px) {

	.cart-item-header h1 {
		white-space: normal;
	}

	.cart-item-price-detail,
	.cart-total-delivery-detail {
		font-size: 0.6rem;
		width: 65px;
		right: 0;
		top: 28px;
	}
}

/* Page A Propos */